
  <div class="container-fluid bootstrap-iso screen-wrapper">
    <app-header></app-header>
    <div class="row body-section">
      <div class="col-md-12">
        <div class="row form-wrapper-row py-5">
          <div class="offset-md-1 col-md-10">
            <div class="row sign-in-row">
              <div class="offset-md-2 col-md-8 sign-in-col">
                <form #ownerDetailsForm="ngForm"  class="common-form"   novalidate>
                  <div class="mb-5 page-primary-title-34">Owner Details</div>
                  <div class="row">
                    <div class="col-md-12 form-block-heading mb-3">Personal Details:</div>
                    <div class="col-md-6 form-label-group mb-4">
                      <label class="form-label required-input-label">First Name</label>
                      <input pattern="[a-zA-Z]*" type="text" class="form-control form-input" minlength="3" name="userFirstName" #userFirstName="ngModel" maxlength="15"  [(ngModel)]="ownerDto.firstName" autofocus>
                      <div *ngIf="userFirstName.errors && (userFirstName.dirty || userFirstName.touched)" class="alert alert-danger">
                        <div [hidden]="!userFirstName.errors.required">
                          First Name is required!
                        </div>
                        <div [hidden]="!userFirstName.errors.minlength">
                          First Name must be at least 3 characters long.
                        </div>
                        <div [hidden]="!userFirstName.errors.maxlength">
                          First Name cannot be more than 15 characters long.
                        </div>
                        <div [hidden]="!userFirstName.errors.pattern">
                          Space and special character not Allowed!
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 form-label-group mb-4">
                      <label class="form-label">Middle Name</label>
                      <input pattern="[a-zA-Z]*" type="text" minlength="3" name="userMiddleName" #userMiddleName="ngModel" maxlength="15" class="form-control form-input"[(ngModel)]="ownerDto.middleName">
                      <div *ngIf="userMiddleName.errors && (userMiddleName.dirty || userMiddleName.touched)" class="alert alert-danger">
                        <!-- <div [hidden]="!userMiddleName.errors.required">
                          Middle Name is required!
                        </div> -->
                        <div [hidden]="!userMiddleName.errors.minlength">
                          Middle Name must be at least 3 characters long.
                        </div>
                        <div [hidden]="!userMiddleName.errors.maxlength">
                          Middle Name cannot be more than 15 characters long.
                        </div>
                        <div [hidden]="!userMiddleName.errors.pattern">
                          Space and special character not Allowed!
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 form-label-group mb-4">
                      <label class="form-label required-input-label">Last Name</label>
                      <input pattern="[a-zA-Z]*" type="text" minlength="3" name="userLastName" #userLastName="ngModel" maxlength="15" class="form-control form-input" [(ngModel)]="ownerDto.lastName" required>
                      <div *ngIf="userLastName.errors && (userLastName.dirty || userLastName.touched)" class="alert alert-danger">
                        <div [hidden]="!userLastName.errors.required">
                          Last Name is required!
                        </div>
                        <div [hidden]="!userLastName.errors.minlength">
                          Last Middle Name must be at least 3 characters long.
                        </div>
                        <div [hidden]="!userLastName.errors.maxlength">
                          Last Name cannot be more than 15 characters long.
                        </div>
                        <div [hidden]="!userLastName.errors.pattern">
                          Space and special character not Allowed!
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 form-label-group mb-4">
                      <label class="form-label required-input-label">Select Nationality</label>
                      <select [(ngModel)]="ownerDto.nationality" name="nationality" class="form-control common-select">
                        <option>Pakistani</option>
                        <option>Indian</option>
                        <option>Australian</option>
                        <option>American</option>
                      </select>
                    </div>
                    <div class="col-md-6 form-label-group mb-4">
                      <label class="form-label">ID Card Number</label>
                      <input pattern="[0-9]*" type="text" class="form-control form-input" [(ngModel)]="ownerDto.idCardNo" name="idCardNo" #idCardNo="ngModel" minlength="6" maxlength="18">
                      <div *ngIf="idCardNo.errors && (idCardNo.dirty || idCardNo.touched)" class="alert alert-danger">
                        <!-- <div [hidden]="!idCardNo.errors.required">
                          ID Card Number is required!
                        </div> -->
                        <div [hidden]="!idCardNo.errors.maxlength">
                          ID Card Number cannot be more than 18 characters long.
                        </div>
                        <div [hidden]="!idCardNo.errors.pattern">
                          Space and special character not Allowed!
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 form-label-group mb-4">
                      <label class="form-label">ID Card Expiry Date</label>
                      <input type="text" for="date" class="form-control  form-input" [(ngModel)]="ownerDto.idCardExpiration" name="idCardExpiration">
                    </div>
                    <div class="col-md-6 form-label-group mb-4">
                      <label class="form-label required-input-label">Passport Number</label>
                      <input pattern="[0-9]*" type="text" class="form-control  form-input" [(ngModel)]="ownerDto.passportNo" name="passportNo" #passportNo="ngModel" minlength="6" maxlength="15" required>
                      <div *ngIf="passportNo.errors && (passportNo.dirty || passportNo.touched)" class="alert alert-danger">
                        <div [hidden]="!passportNo.errors.required">
                          Passport Number is required!
                        </div>
                        <div [hidden]="!passportNo.errors.maxlength">
                          Passport Number cannot be more than 15 characters long.
                        </div>
                        <div [hidden]="!passportNo.errors.pattern">
                          Space and special character not Allowed!
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 form-label-group mb-4">
                      <label class="form-label required-input-label">Passport Expiry Date</label>
                      <input type="text" for="date" class="form-control  form-input" [(ngModel)]="ownerDto.passportExpiryDate" name="passportExpiryDate" required>
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-md-12 form-block-heading mb-3">Contact Details:</div>
                    <div class="col-md-6 form-label-group mb-4">
                      <label class="form-label">Phone Number</label>
                      <input type="text" pattern="[0-9]*" class="form-control form-input" [(ngModel)]="ownerDto.telephone" name="telephone" #telephone="ngModel" minlength="6" maxlength="16">
                      <div *ngIf="telephone.errors && (telephone.dirty || telephone.touched)" class="alert alert-danger">
                        <!-- <div [hidden]="!telephone.errors.required">
                          Phone number is required!
                        </div> -->
                        <div [hidden]="!telephone.errors.maxlength">
                          Please enter a 16 digit number.
                        </div>
                        <div [hidden]="!telephone.errors.pattern">
                          Space and special character not Allowed!
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 form-label-group mb-4">
                      <label class="form-label required-input-label">Mobile Number</label>
                      <input pattern="[0-9]*" type="text" class="form-control  form-input" [(ngModel)]="ownerDto.mobile" name="mobile" #mobile="ngModel" minlength="6" maxlength="16" required>
                      <div *ngIf="mobile.errors && (mobile.dirty || mobile.touched)" class="alert alert-danger">
                        <div [hidden]="!mobile.errors.required">
                          Mobile number is required!
                        </div>
                        <div [hidden]="!mobile.errors.maxlength">
                          Please enter a 16 digit number.
                        </div>
                        <div [hidden]="!mobile.errors.pattern">
                          Space and special character not Allowed!
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 form-label-group mb-4">
                      <label class="form-label required-input-label">Email</label>
                      <input type="email" pattern="[^ @]*@[^ @]*" class="form-control form-input" [(ngModel)]="ownerDto.email" name="email" #email="ngModel" required>
                      <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-danger">
                        <div [hidden]="!email.errors.required">
                          Email must be like name@gmail.com
                        </div>
                        <div [hidden]="!email.errors.pattern">
                          Enter valid email
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 form-label-group mb-4">
                      <label class="form-label">Fax</label>
                      <input type="text" pattern="[0-9]*" class="form-control form-input" [(ngModel)]="ownerDto.fax" name="fax" #fax="ngModel" minlength="6" maxlength="18">
                      <div *ngIf="fax.errors && (fax.dirty || fax.touched)" class="alert alert-danger">
                        <!-- <div [hidden]="!fax.errors.required">
                          Fax is required!
                        </div> -->
                        <div [hidden]="!fax.errors.maxlength">
                          Fax Number cannot be more than 18 characters long.
                        </div>
                        <div [hidden]="!fax.errors.pattern">
                          Space and special character not Allowed!
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 form-label-group mb-4">
                      <label class="form-label required-input-label">Address</label>
                      <input pattern="[a-zA-Z0-9]*" type="text" minlength="8" name="userAddress" #userAddress="ngModel" maxlength="60" class="form-control  form-input" [(ngModel)]="ownerDto.address" required>
                      <div *ngIf="userAddress.errors && (userAddress.dirty || userAddress.touched)" class="alert alert-danger">
                        <div [hidden]="!userAddress.errors.minlength">
                          Address must be at least 8 characters long.
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 form-label-group mb-4">
                      <label class="form-label">P.O.Box</label>
                      <input type="text" pattern="[0-9]*" class="form-control  form-input" [(ngModel)]="ownerDto.pobox" name="pobox" #pobox="ngModel"  minlength="6" maxlength="18">
                      <div *ngIf="pobox.errors && (pobox.dirty || pobox.touched)" class="alert alert-danger">
                        <!-- <div [hidden]="!pobox.errors.required">
                          P.O Box is required!
                        </div> -->
                        <div [hidden]="!pobox.errors.maxlength">
                          P.O Box cannot be more than 18 characters long.
                        </div>
                        <div [hidden]="!pobox.errors.pattern">
                          Space and special character not Allowed!
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-md-12 document-upload">
                      Upload Documents
                      <div class="sub-details">jpg, png, pdf accepted with file size not exceeding 2Mb</div>
                    </div>
                    <div class="col-md-12 upload-doc-block">
                      <div class="upload-btn-div mt-4">
                        <div class="file">
                          <input #passFile type="file" name="file" (change)="selectPassport($event)" class="doc-upload" />
                        </div>
                        <div class="upload-instuct mt-2">Scanned passport copy<i class="fas fa-circle-notch fa-spin ml-2"></i></div>
                        <p *ngIf="passportFile"><br>{{passportFile.name}}</p>
                        <p *ngIf="ownerDto.passportCopyUpload&&action=='back'"><br>{{ownerDto.passportCopyUpload}}</p>
                      </div>
                      <div class="upload-btn-div mt-5">
                        <div class="file">
                          <input #idFile type="file"  (change)="selectIdCopy($event)" name="file" class="doc-upload" />
                        </div>
                        <div class="upload-instuct mt-2">Scanned ID copy
                          <i class="fas fa-circle-notch fa-spin ml-2"></i>
                          <div class="upload-sub-instruct">(UAE or country of origin)</div>
                        </div>
                        <p *ngIf="idCopyFile"><br>{{idCopyFile.name}}</p>
                        <p *ngIf="ownerDto.scannedIdCopy&&action=='back'"><br>{{ownerDto.scannedIdCopy}}</p>
                        <!-- <img src="{{idCardFileUploadPath}}" alt="{{idCardFileUploadPath}}" style="max-width:350px" /> -->
                        <!-- <img src="{{passportFileUploadPath}}" alt="{{passportFileUploadPath}}" style="max-width:350px" /> -->
                      </div>
                    </div>
                  </div>
                  <div class="row mt-5 submit-btn-row">
                    <div class="col-md-3 mb-xs-4">
                      <a  (click)="addOwner('add')"  style=color:white class="btn common-btn btn-light-black">Add Owner</a>
                    </div>
                    <div class="offset-md-6 col-md-3">
                      <!-- [disabled]="!ownerDetailsForm.form.valid" -->
                      <button (click)="addOwner('next')" style=color:white class="btn common-btn" type="submit">Next</button>
                    </div>
                  </div>
                </form>
              </div>
              <div class="col-md-2 page-locator-wrap">
                <div class="page-locator">
                  <div class="process-heading">Process Steps</div>
                  <ul class="StepProgress">
                    <li class="StepProgress-item" routerLinkActive="current">
                      <a routerLink="/sellerOwnerDetails">
                        Owner Details <span>Processing</span>
                      </a>
                    </li>
                    <li class="StepProgress-item"><a>POA Details</a></li>
                    <li class="StepProgress-item"><a>Property Details</a></li>
                    <li class="StepProgress-item"><a>Property Mortgage Details</a></li>
                    <li class="StepProgress-item"><a>Property Rent Details</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="atLeastOneOwner" class="example-container mat-elevation-z8">
          <div class="example-header">
            <mat-form-field class="ml-4">
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
            </mat-form-field>
          </div>
          <mat-table #table [dataSource]="dataSource" matSort>

            <!-- <ng-container matColumnDef="propertySellerId">
              <mat-header-cell *matHeaderCellDef> Owner Id </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.propertySellerId}} </mat-cell>
            </ng-container> -->

            <ng-container matColumnDef="firstName">
              <mat-header-cell *matHeaderCellDef mat-sort-header> First Name </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.firstName}} </mat-cell>
            </ng-container>

            <!-- <ng-container matColumnDef="middleName">
              <mat-header-cell *matHeaderCellDef> Middle Name </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.middleName}} </mat-cell>
            </ng-container> -->

            <ng-container matColumnDef="lastName">
              <mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.lastName}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="nationality">
              <mat-header-cell *matHeaderCellDef>  Nationality </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.nationality}} </mat-cell>
            </ng-container>
            <!-- <ng-container matColumnDef="idCardNo">
              <mat-header-cell *matHeaderCellDef> Id Card No </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.idCardNo}} </mat-cell>
            </ng-container> -->
            <!-- <ng-container matColumnDef="idCardExpiration">
              <mat-header-cell *matHeaderCellDef> Id Card Expiry </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.idCardExpiration}} </mat-cell>
            </ng-container> -->
            <ng-container matColumnDef="passportNo">
              <mat-header-cell *matHeaderCellDef> Passport No </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.passportNo}} </mat-cell>
            </ng-container>


            <ng-container matColumnDef="passportExpiryDate">
              <mat-header-cell *matHeaderCellDef> Passport Expiry</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.passportExpiryDate}} </mat-cell>
            </ng-container>


            <!-- <ng-container matColumnDef="telephone">
              <mat-header-cell *matHeaderCellDef> Phone Number </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.telephone}} </mat-cell>
            </ng-container> -->


            <ng-container matColumnDef="mobile">
              <mat-header-cell *matHeaderCellDef> Mobile </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.mobile}} </mat-cell>
            </ng-container>


            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" (click) = "rowClicked(row)" ></mat-row>
          </mat-table>
          <!-- <mat-paginator [length]="5" [pageSize]="4" [pageSizeOptions]="[5, 10, 25]">
          </mat-paginator> -->
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
