
  <div class="container-fluid screen-wrapper">
      <app-header></app-header>
      <div class="row body-section">
        <div class="col-md-12">
          <div class="row form-wrapper-row py-5">
            <div class="offset-md-1 col-md-10">
              <div class="row sign-in-row">
                <div class="offset-md-4 col-md-4 sign-in-col">
                  <form class="common-form" novalidate>
                    <div class="text-center mb-5 page-primary-title-34">Change Password?</div>
                    <div class="fp-form-row">
                      <div class="input-wrapper form-label-group mb-4">
                        <input type="password" name ="userPassword" [(ngModel)]="changepasswordDTO.userPassword" class="form-control form-input" placeholder="Enter New Password" required>
                        <label class="fa fa-lock input-icon"></label>
                      </div>
                      <div class="input-wrapper form-label-group mb-4">
                        <input type="password" name="confirmPassword" [(ngModel)]="changepasswordDTO.confirmPassword" class="form-control form-input"
                         placeholder="Confirm New Password" required>
                        <label class="fa fa-lock input-icon"></label>
                      </div>
                      <button (click)="ChangePassword()" class="btn form-btn mb-4">Change Password</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <app-footer></app-footer>
    </div>
  
  