<footer class="row social-page-footer py-3 mb-3 mb-xs-0">
  <div class="offset-md-1 col-md-10">
    <div class="row bottom-footer-row align-items-center">
      <div class="col-md-6 copyright-div d-flex">
        <div class="copyrights pr-3">Copyright &copy; Chiragh.com</div> 
        <div class="pl-3">All Rights Reserved.</div>
      </div>
      <div class="col-md-6 copyright-div d-flex justify-content-end">
        <a href="#" class="copyrights pr-3 policy-link">Disclaimer</a>
        <a href="#" class="copyrights px-3 policy-link">Privacy Policy</a> 
        <a href="#" class="pl-3 policy-link">Terms & Conditions</a>
      </div>
    </div>
  </div>
</footer> 