
  <div class="container-fluid screen-wrapper">
<app-header></app-header>
    <div class="row body-section">
      <div class="col-md-12">
        <div class="row tc-section pt-5">
          <div class="offset-md-1 col-md-10 tc-section-col">
            <div class="page-primary-title-34 d-flex justify-content-center">Frequently Asked Questions</div>
            <div class="row faqs-wrap-row">
              <div class="col-md-12 faqs-wrap-col">
                <div class="accordion accordion-sm accordion-div py-5 py-xs-4" id="faqsCollapse">
                  <a class="accordion-toggle faqs-ques" data-toggle="collapse" data-parent="#faqsCollapse" href="#collapseQues">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</a>
                  <div id="collapseQues" class="collapse faqs-ans">
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
                  </div>
                </div>
                <div class="accordion accordion-sm accordion-div py-5 py-xs-4" id="faqsCollapse2">
                  <a class="accordion-toggle faqs-ques" data-toggle="collapse" data-parent="#faqsCollapse2" href="#collapseQues2">eleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi.</a>
                  <div id="collapseQues2" class="collapse faqs-ans">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
   <app-footer></app-footer> 
  </div>
