  <div class="container-fluid bootstrap-iso screen-wrapper">
    <app-header></app-header>
    <div class="row body-section">
      <div class="col-md-12">
        <div class="row form-wrapper-row py-5">
          <div class="offset-md-1 col-md-10">
            <div class="row sign-in-row">
              <div class="offset-md-2 col-md-8 sign-in-col">
                <form #finanicalForm="ngForm" class="common-form" novalidate>
                  <div class="mb-5 page-primary-title-34">Property Details</div>
                  <div class="row">
                    <div class="col-md-12 form-block-heading mb-3">Mortgage Details</div>
                    <div class="col-md-6 form-label-group mb-4">
                      <label class="form-label required-input-label">Mortgage Status</label>
                      <select [(ngModel)]="propertyFinancialDTO.morgageStatus" name="morgageStatus" class="form-control common-select placeholder">
                        <option>Yes</option>
                        <option>No</option>
                      </select>
                    </div>
                    <div class="col-md-6 form-label-group mb-4">
                      <label class="form-label required-input-label">Mortgage Reg.No.</label>
                      <input pattern="[a-zA-Z0-9_]*"  type="text" class="form-control form-input" [(ngModel)]="propertyFinancialDTO.morgageRegNo" name="morgageRegNo" #morgageRegNo="ngModel" [disabled]="propertyFinancialDTO.morgageStatus=='No'" required>
                      <div *ngIf="morgageRegNo.errors && (morgageRegNo.dirty ||morgageRegNo.touched)" class="alert alert-danger">
                        <div [hidden]="!morgageRegNo.errors.required"> Morgage Registeration Number is required!</div>
                        <div [hidden]="!morgageRegNo.errors.pattern">Must be a valid Morgage Registeration Number!</div>
                      </div>
                    </div>
                    <!-- <div class="col-md-6 form-label-group mb-4">
                      <label class="form-label">Listed Price</label>
                      <input pattern="[0-9_]*" type="text" class="form-control form-input" [(ngModel)]="propertyFinancialDTO.listedPrice" name="listedPrice" #listedPrice="ngModel" autofocus>
                      <div *ngIf="listedPrice.errors && (listedPrice.dirty || listedPrice.touched)" class="alert alert-danger">
                        <div [hidden]="!listedPrice.errors.pattern">
                          Must be a valid Listed Price!
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 form-label-group mb-4">
                      <label class="form-label">Original Price</label>
                      <input pattern="[0-9_]*" type="text" class="form-control form-input" [(ngModel)]="propertyFinancialDTO.originalPrice" name="originalPrice" #originalPrice="ngModel">
                      <div *ngIf="originalPrice.errors && (originalPrice.dirty ||originalPrice.touched)" class="alert alert-danger">
                        <div [hidden]="!originalPrice.errors.required">Original Amount is required!</div>
                        <div [hidden]="!originalPrice.errors.pattern">Must be a valid Original Amount!</div>
                      </div>
                    </div> -->
                    <div class="col-md-6 form-label-group mb-4">
                      <label class="form-label">Paid Amount</label>
                      <input pattern="[0-9_]*" type="text" class="form-control form-input"[(ngModel)]="propertyFinancialDTO.paidAmount" name="paidAmount" #paidAmount="ngModel" [disabled]="propertyFinancialDTO.morgageStatus=='No'">
                      <div *ngIf="paidAmount.errors && (paidAmount.dirty ||paidAmount.touched)" class="alert alert-danger">
                        <!-- <div [hidden]="!paidAmount.errors.required">Paid Amount is required!</div> -->
                        <div [hidden]="!paidAmount.errors.pattern">Must be a valid Paid Amount!</div>
                      </div>
                    </div>
                    <div class="col-md-6 form-label-group mb-4">
                      <label class="form-label required-input-label">Balance Amount</label>
                      <input pattern="[0-9_]*" type="text" class="form-control form-input" [(ngModel)]="propertyFinancialDTO.balanceAmount" name="balanceAmount" #balanceAmount="ngModel" [disabled]="propertyFinancialDTO.morgageStatus=='No'" required>
                      <div *ngIf="balanceAmount.errors && (balanceAmount.dirty ||balanceAmount.touched)" class="alert alert-danger">
                        <div [hidden]="!balanceAmount.errors.required">Balance Amount is required!</div>
                        <div [hidden]="!balanceAmount.errors.pattern">Must be a valid Balance Amount!</div>
                      </div>
                    </div>
                    <div class="col-md-6 form-label-group mb-4">
                      <label class="form-label required-input-label">Service Charge</label>
                      <input pattern="[0-9_]*" type="text" class="form-control form-input" [(ngModel)]="propertyFinancialDTO.serviceCharge" name="serviceCharge" #serviceCharge="ngModel" [disabled]="propertyFinancialDTO.morgageStatus=='No'" required>
                      <div *ngIf="serviceCharge.errors && (serviceCharge.dirty ||serviceCharge.touched)" class="alert alert-danger">
                        <div [hidden]="!serviceCharge.errors.required">Service Charges is required!</div>
                        <div [hidden]="!serviceCharge.errors.pattern">Must be a valid Service Charges!</div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 form-label-group mb-4">
                      <label class="form-label">Bank</label>
                      <select [(ngModel)]="propertyFinancialDTO.bank" ng-disabled="all" name="bank" class="form-control common-select placeholder" [disabled]="propertyFinancialDTO.morgageStatus=='No'">
                        <option>Islamic</option>
                        <option>World Bank</option>
                      </select>
                    </div>
                    <div class="col-md-6 form-label-group mb-4">
                      <label class="form-label">Mortgage Amount</label>
                      <input pattern="[0-9_]*" type="text" class="form-control form-input" ng-disabled="No" [(ngModel)]="propertyFinancialDTO.morgageAmount" name ="morgageAmount" #morgageAmount="ngModel" [disabled]="propertyFinancialDTO.morgageStatus=='No'">
                      <div *ngIf="morgageAmount.errors && (morgageAmount.dirty ||morgageAmount.touched)" class="alert alert-danger">
                        <!-- <div [hidden]="!morgageAmount.errors.required">Morgage Amount is required!</div> -->
                        <div [hidden]="!morgageAmount.errors.pattern">Must be a valid Morgage Amount!</div>
                      </div>
                    </div>
                    <div class="col-md-6 form-label-group mb-4">
                      <label class="form-label">Pre-Closure Charges</label>
                      <input pattern="[0-9_]*" type="text" class="form-control form-input" [(ngModel)]="propertyFinancialDTO.preClosureCharges" name="preClosureCharges" #preClosureCharges="ngModel" [disabled]="propertyFinancialDTO.morgageStatus=='No'">
                      <div *ngIf="preClosureCharges.errors && (preClosureCharges.dirty ||preClosureCharges.touched)" class="alert alert-danger">
                        <!-- <div [hidden]="!preClosureCharges.errors.required">Pre-Closure-Charges is required!</div> -->
                        <div [hidden]="!preClosureCharges.errors.pattern">Must be a valid Pre-Closure-Charges!</div>
                      </div>
                    </div>
                    <div class="col-md-6 form-label-group mb-4">
                      <label class="form-label">Payment Schedule</label>
                      <select  [(ngModel)]="propertyFinancialDTO.paymentSchedule" name="paymentSchedule" class="form-control common-select placeholder" [disabled]="propertyFinancialDTO.morgageStatus=='No'">
                        <option>Quarterly</option>
                        <option>Monthly</option>
                        <option>Yearly</option>
                      </select>
                    </div>
                    <div class="col-md-6 form-label-group mb-4">
                      <label class="form-label">Date</label>
                      <input type="text" for="date" class="form-control form-input"  [(ngModel)]="propertyFinancialDTO.date" name="date" #date="ngModel" [disabled]="propertyFinancialDTO.morgageStatus=='No'">
                    </div>
                    <div class="col-md-6 form-label-group mb-4">
                      <label class="form-label">Amount</label>
                      <input pattern="[0-9_]*" type="text" class="form-control form-input" [(ngModel)]="propertyFinancialDTO.amount" name="amount" #amount="ngModel" [disabled]="propertyFinancialDTO.morgageStatus=='No'">
                      <div *ngIf="amount.errors && (amount.dirty ||amount.touched)" class="alert alert-danger">
                        <div [hidden]="!amount.errors.required">Amount is required!</div>
                        <div [hidden]="!amount.errors.pattern">Must be a valid Amounts !</div>
                      </div>
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-md-12 document-upload">
                      Upload Documents
                      <div class="sub-details">jpg, png, pdf accepted with file size not exceeding 2Mb</div>
                    </div>
                    <div class="col-md-12 upload-doc-block">
                      <div class="upload-btn-div mt-4">
                        <div class="file">
                          <input type="file" (change)="selectMorgageNoc($event)" name="file" class="doc-upload" [disabled]="propertyFinancialDTO.morgageStatus=='No'">
                        </div>
                        <div class="upload-instuct mt-2">Scanned NOC from<br>Mortgage Company</div>
                        <p *ngIf="morgageNocFile" style="color:blue"><br>Morgage Noc FileName:{{morgageNocFile.name}}</p>
                        <p *ngIf="propertyFinancialDTO.morgageNoc&&action=='next'||action=='back'" style="color:blue"><br>Morgage Noc FileName:{{propertyFinancialDTO.morgageNoc}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="row mt-5 submit-btn-row">
                    <div class="offset-md-6 col-md-3 mb-xs-4">
                      <a  routerLink="/propertyDetails/back" class="btn common-btn btn-light-black">Back</a>
                    </div>
                    <div class="col-md-3">
                      <button [disabled]="!finanicalForm.form.valid"  (click)="addPropertyFinancialDetails()" style=color:white class="btn common-btn" type="submit">Next</button>
                    </div>
                  </div>
                </form>
              </div>
              <div class="col-md-2 page-locator-wrap">
                <div class="page-locator">
                  <div class="process-heading">Process Steps</div>
                  <ul class="StepProgress">
                    <li class="StepProgress-item is-done"><a routerLink="/sellerOwnerDetails">Owner Details<span>Done</span></a></li>
                    <li class="StepProgress-item is-done"><a routerLink="/sellerPoaDetails">POA Details<span>Done</span></a></li>
                    <li class="StepProgress-item is-done"><a routerLink="/propertyDetails">Property Details<span>Done</span></a></li>
                    <li class="StepProgress-item" routerLinkActive="current"><a routerLink="/propertyFinancialDetails">Property Mortgage Details<span>Processing</span></a></li>
                    <li class="StepProgress-item"><a>Property Rent Details</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
    </div>


