  <div class="container-fluid bootstrap-iso screen-wrapper">
    <app-header></app-header>
    <div class="row body-section">
      <div class="col-md-12">
        <div class="row form-wrapper-row py-5">
          <div class="offset-md-1 col-md-10">
            <div class="row sign-in-row">
              <div class="offset-md-2 col-md-8 sign-in-col">
                <form #finanicalForm="ngForm" class="common-form" novalidate>
                  <div class="mb-5 page-primary-title-34">Property Details</div>
                  <div class="row">
                    <div class="col-md-12 form-block-heading mb-3">Mortgage Details</div>
                    <div class="col-md-6 form-label-group mb-4">
                      <label class="form-label required-input-label">Mortgage Status</label>
                      <select [(ngModel)]="propertyFinancialDTO.morgageStatus" name="morgageStatus" class="form-control common-select placeholder">
                        <option>Yes</option>
                        <option>No</option>
                      </select>
                    </div>
                    <div class="col-md-6 form-label-group mb-4">
                      <label class="form-label required-input-label">Mortgage Reg.No.</label>
                      <input pattern="[a-zA-Z0-9_]*"  type="text" class="form-control form-input" [(ngModel)]="propertyFinancialDTO.morgageRegNo" name="morgageRegNo" #morgageRegNo="ngModel" [disabled]="propertyFinancialDTO.morgageStatus=='No'" required>
                      <div *ngIf="morgageRegNo.errors && (morgageRegNo.dirty ||morgageRegNo.touched)" class="alert alert-danger">
                        <div [hidden]="!morgageRegNo.errors.required"> Morgage Registeration Number is required!</div>
                        <div [hidden]="!morgageRegNo.errors.pattern">Must be a valid Morgage Registeration Number!</div>
                      </div>
                    </div>
                    <div class="col-md-6 form-label-group mb-4">
                      <label class="form-label">Paid Amount</label>
                      <input pattern="[0-9_]*" type="text" class="form-control form-input"[(ngModel)]="propertyFinancialDTO.paidAmount" name="paidAmount" #paidAmount="ngModel" [disabled]="propertyFinancialDTO.morgageStatus=='No'">
                      <div *ngIf="paidAmount.errors && (paidAmount.dirty ||paidAmount.touched)" class="alert alert-danger">
                        <!-- <div [hidden]="!paidAmount.errors.required">Paid Amount is required!</div> -->
                        <div [hidden]="!paidAmount.errors.pattern">Must be a valid Paid Amount!</div>
                      </div>
                    </div>
                    <div class="col-md-6 form-label-group mb-4">
                      <label class="form-label required-input-label">Balance Amount</label>
                      <input pattern="[0-9_]*" type="text" class="form-control form-input" [(ngModel)]="propertyFinancialDTO.balanceAmount" name="balanceAmount" #balanceAmount="ngModel" [disabled]="propertyFinancialDTO.morgageStatus=='No'" required>
                      <div *ngIf="balanceAmount.errors && (balanceAmount.dirty ||balanceAmount.touched)" class="alert alert-danger">
                        <div [hidden]="!balanceAmount.errors.required">Balance Amount is required!</div>
                        <div [hidden]="!balanceAmount.errors.pattern">Must be a valid Balance Amount!</div>
                      </div>
                    </div>
                    <div class="col-md-6 form-label-group mb-4">
                      <label class="form-label required-input-label">Service Charge</label>
                      <input pattern="[0-9_]*" type="text" class="form-control form-input" [(ngModel)]="propertyFinancialDTO.serviceCharge" name="serviceCharge" #serviceCharge="ngModel" [disabled]="propertyFinancialDTO.morgageStatus=='No'" required>
                      <div *ngIf="serviceCharge.errors && (serviceCharge.dirty ||serviceCharge.touched)" class="alert alert-danger">
                        <div [hidden]="!serviceCharge.errors.required">Service Charges is required!</div>
                        <div [hidden]="!serviceCharge.errors.pattern">Must be a valid Service Charges!</div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 form-label-group mb-4">
                      <label class="form-label">Financing</label>
                      <select [(ngModel)]="propertyFinancialDTO.bank" ng-disabled="all" name="bank" class="form-control common-select placeholder" [disabled]="propertyFinancialDTO.morgageStatus=='No'">
                        <option *ngFor="let obj of bankList">{{obj}}</option>
                        <!-- <option>World Bank</option> -->
                      </select>
                    </div>
                    <div class="col-md-6 form-label-group mb-4">
                      <label class="form-label">Other</label>
                      <input pattern="[0-9_]*" type="text" class="form-control form-input"  [(ngModel)]="propertyFinancialDTO.bankOther" name="bankOther" #bankOther="ngModel" [disabled]="propertyFinancialDTO.bank!=='Other'" >
                    </div>
                    <div class="col-md-6 form-label-group mb-4">
                      <label class="form-label">Mortgage Amount</label>
                      <input pattern="[0-9_]*" type="text" class="form-control form-input" ng-disabled="No" [(ngModel)]="propertyFinancialDTO.morgageAmount" name ="morgageAmount" #morgageAmount="ngModel" [disabled]="propertyFinancialDTO.morgageStatus=='No'">
                      <div *ngIf="morgageAmount.errors && (morgageAmount.dirty ||morgageAmount.touched)" class="alert alert-danger">
                        <!-- <div [hidden]="!morgageAmount.errors.required">Morgage Amount is required!</div> -->
                        <div [hidden]="!morgageAmount.errors.pattern">Must be a valid Morgage Amount!</div>
                      </div>
                    </div>
                    <div class="col-md-6 form-label-group mb-4">
                      <label class="form-label">Pre-Closure Charges</label>
                      <input pattern="[0-9_]*" type="text" class="form-control form-input" [(ngModel)]="propertyFinancialDTO.preClosureCharges" name="preClosureCharges" #preClosureCharges="ngModel" [disabled]="propertyFinancialDTO.morgageStatus=='No'">
                      <div *ngIf="preClosureCharges.errors && (preClosureCharges.dirty ||preClosureCharges.touched)" class="alert alert-danger">
                        <!-- <div [hidden]="!preClosureCharges.errors.required">Pre-Closure-Charges is required!</div> -->
                        <div [hidden]="!preClosureCharges.errors.pattern">Must be a valid Pre-Closure-Charges!</div>
                      </div>
                    </div>
                    <div class="col-md-6 form-label-group mb-4">
                      <label class="form-label">Payment Schedule</label>
                      <select  [(ngModel)]="propertyFinancialDTO.paymentSchedule" name="paymentSchedule" class="form-control common-select placeholder" [disabled]="propertyFinancialDTO.morgageStatus=='No'">
                        <option *ngFor="let obj of paymentScheduleList">{{obj}}</option>
                      </select>
                    </div>
                    <div class="col-md-6 form-label-group mb-4">
                      <label class="form-label">Date</label>
                      <input type="date" class="form-control form-input"  [(ngModel)]="propertyFinancialDTO.date" name="date" #date="ngModel" [disabled]="propertyFinancialDTO.morgageStatus=='No'">
                    </div>
                    <div class="col-md-6 form-label-group mb-4">
                      <label class="form-label">Amount</label>
                      <input pattern="[0-9_]*" type="text" class="form-control form-input" [(ngModel)]="propertyFinancialDTO.amount" name="amount" #amount="ngModel" [disabled]="propertyFinancialDTO.morgageStatus=='No'">
                      <div *ngIf="amount.errors && (amount.dirty ||amount.touched)" class="alert alert-danger">
                        <div [hidden]="!amount.errors.required">Amount is required!</div>
                        <div [hidden]="!amount.errors.pattern">Must be a valid Amounts !</div>
                      </div>
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-md-12 document-upload form-block-heading mb-4">
                      Upload Documents
                      <div class="sub-details">jpg, png, pdf accepted with file size not exceeding 2Mb</div>    
                    </div>
                    <div class="col-md-4 upload-doc-block mt-3">
                      <div class="upload-doc-div">
                        <img id="notorizedCopy" class="w-100 thumbnail" src="{{scannednocuploadPath}}">
                        <div id="notorizedCopyDiv" class="loader-div display-none"><i class="fas fa-circle-notch fa-spin ml-2"></i></div>
                      </div>
                      <div class="upload-instuct mt-2">Scanned NOC from<br>Mortgage Company</div>
                      <div class="upload-btn-div mt-4">
                        <div class="doc-upload">
                          <input id="ownerPassCopy" #passFile type="file" name="file" (change)="selectMorgageNoc($event)" class="doc-upload"accept=".jpg,.png,.gif,.jpeg,.pdf" [disabled]="propertyFinancialDTO.morgageStatus=='No'">
                        </div>
                        <span class="upload-instuct ml-3">Upload</span>
                      </div>
                    </div>
                  </div>

                  <div class="row mt-5 submit-btn-row">
                    <div class="offset-md-6 col-md-3 mb-xs-4">
                      <a  routerLink="/propertyDetails/back" class="btn common-btn btn-light-black">Back</a>
                    </div>
                    <div class="col-md-3">
                      <button (click)="addPropertyFinancialDetails()" style=color:white class="btn common-btn" type="submit">Next</button>
                    </div>
                  </div>
                </form>
              </div>
              <div class="col-md-2 page-locator-wrap">
                <div class="page-locator">
                  <div class="process-heading">Process Steps</div>
                  <ul class="StepProgress">
                    <li class="StepProgress-item is-done"><a routerLink="/sellerOwnerDetails/back">Owner Details<span>Done</span></a></li>
                    <li class="StepProgress-item is-done"><a routerLink="/sellerPoaDetails/back">POA Details<span>Done</span></a></li>
                    <li class="StepProgress-item is-done"><a routerLink="/propertyDetails/back">Property Details<span>Done</span></a></li>
                    <li class="StepProgress-item" routerLinkActive="current"><a routerLink="/propertyFinancialDetails">Property Mortgage Details<span>Processing</span></a></li>
                    <li class="StepProgress-item"><a>Property Rent Details</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
    </div>


