<div class="container-fluid screen-wrapper">
    <app-header></app-header>
    <div class="row body-section">
      <div class="col-md-12">
        <div class="row form-wrapper-row py-5">
          <div class="offset-md-1 col-md-10">
            <div class="row sign-in-row">
              <div class="offset-md-2 col-md-8 sign-in-col">
                <form #rentalForm="ngForm" class="common-form" novalidate>
                  <div class="mb-5 page-primary-title-34">Property Details</div>
                  <div class="row">
                    <div class="col-md-12 form-block-heading mb-2">Rent Details</div>
                    <div class="col-md-6 form-label-group mb-4">
                      <select  [(ngModel)]="propertyRentalDetailDTO.isRented" name ="isRented" class="form-control common-select placeholder">
                        <option>Property Rented</option>
                        <option>Yes</option>
                        <option>No</option>
                      </select>
                    </div>
                    <div class="col-md-6 form-label-group mb-4">
                      <select [(ngModel)]="propertyRentalDetailDTO.isVacant" name="isVacant"  class="form-control common-select placeholder" [disabled]="propertyRentalDetailDTO.isRented=='No'">
                        <option>Vacant</option>
                        <option>Yes</option>
                        <option>No</option>
                      </select>
                    </div>
                    <div class="col-md-6 form-label-group mb-4">
                      <input  pattern="[a-zA-Z]*" type="text" class="form-control form-input" [(ngModel)]="propertyRentalDetailDTO.tenantName" name="tenantName" #tenantName="ngModel" placeholder="Tenant Name" [disabled]="propertyRentalDetailDTO.isRented=='No'" required>
                      <div *ngIf="tenantName.errors && (tenantName.dirty ||tenantName.touched)" class="alert alert-danger">
                        <div [hidden]="!tenantName.errors.required">Tenant Name is required!</div>
                        <div [hidden]="!tenantName.errors.pattern">Must be a valid Tenant Name!</div>
                      </div>
                    </div>
                    <div class="col-md-6 form-label-group mb-4">
                      <select [(ngModel)]="propertyRentalDetailDTO.paymentStructure" name="paymentStructure" class="form-control common-select placeholder" [disabled]="propertyRentalDetailDTO.isRented=='No'" >
                        <option>Payment Structure</option>
                        <option>Yearly</option>
                        <option>Monthly</option>
                        <option>Quarterly</option>
                      </select>
                    </div>
                    <div class="col-md-6 form-label-group mb-4">
                      <input  pattern="[0-9_]*" type="text" class="form-control form-input" [(ngModel)]="propertyRentalDetailDTO.rentalEjariNo" name="rentalEjariNo" #rentalEjariNo="ngModel" placeholder="Ejari Number" [disabled]="propertyRentalDetailDTO.isRented=='No'"  required>
                      <div *ngIf="rentalEjariNo.errors && (rentalEjariNo.dirty ||rentalEjariNo.touched)" class="alert alert-danger">
                          <div [hidden]="!rentalEjariNo.errors.required">Rental Ejari Number is required!</div>
                           <div [hidden]="!rentalEjariNo.errors.pattern"> Must be a valid Rental Ejari Number!</div>
                      </div>
                    </div>
                    <div class="col-md-6 form-label-group mb-4">
                      <input  pattern="[0-9_]*" type="text" class="form-control form-input" [(ngModel)]="propertyRentalDetailDTO.rentalAnnualRent" name="rentalAnnualRent" #rentalAnnualRent="ngModel" placeholder="Annual Rent" [disabled]="propertyRentalDetailDTO.isRented=='No'"  required>
                      <div *ngIf="rentalAnnualRent.errors && (rentalAnnualRent.dirty ||rentalAnnualRent.touched)" class="alert alert-danger">
                          <div [hidden]="!rentalAnnualRent.errors.required">Rental Annual Aent is required!</div>
                          <div [hidden]="!rentalAnnualRent.errors.pattern"> Must be a valid Rental Annual Rent !</div>
                      </div>
                    </div>
                    <div class="col-md-6 form-label-group mb-4">
                      <input type="date" class="form-control form-input" [(ngModel)]="propertyRentalDetailDTO.leaseStartDate" name="leaseStartDate"  #leaseStartDate="ngModel" placeholder="Lease Start Date" [disabled]="propertyRentalDetailDTO.isRented=='No'"  required>
                      <!-- <div *ngIf="leaseStartDate.errors" class="alert alert-danger">
                        <div [hidden]="!leaseStartDate.errors.required">Date is required! </div>
                      </div> -->
                    </div>
                    <div class="col-md-6 form-label-group mb-4">
                      <input type="date" class="form-control form-input" [(ngModel)]="propertyRentalDetailDTO.leaseExpiryDate" name="leaseExpiryDate"  #leaseExpiryDate="ngModel" placeholder="Lease Expiry Date" [disabled]="propertyRentalDetailDTO.isRented=='No'"  required>
                      <!-- <div *ngIf="leaseExpiryDate.errors" class="alert alert-danger">
                        <div [hidden]="!leaseExpiryDate.errors.required">Date is required! </div>
                      </div> -->
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-md-12 document-upload">
                      Upload Documents
                      <div class="sub-details">jpg, png, pdf accepted with file size not exceeding 2Mb</div>
                    </div>
                    <div class="col-md-12 upload-doc-block">
                      <div class="upload-btn-div mt-4">
                        <div class="file">
                          <input  (change)="scannedTenantContract($event)" type="file" name="file" class="doc-upload" />
                        </div>
                        <div class="upload-instuct mt-2">Scanned Tenancy Contract</div>
                        <p *ngIf="scannedTenentContractFile" style="color:blue"><br>Tanent Contract FileName:{{scannedTenentContractFile.name}}</p>
                        <p *ngIf="propertyRentalDetailDTO.tenancyContractUpload&&action=='next'||action=='back'" style="color:blue"><br>Tanent Contract FileName:{{propertyRentalDetailDTO.tenancyContractUpload}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="row mt-5 submit-btn-row">
                    <div class="offset-md-6 col-md-3 mb-xs-4">
                      <a  routerLink="/propertyFinancialDetails/back" class="btn common-btn btn-light-black">Back</a>
                    </div>
                    <div class="col-md-3">
                      <button [disabled]="!rentalForm.form.valid" (click)="addPropertyRentalDetails()" style=color:white  class="btn common-btn btn-light-black"type="submit">Next</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <app-footer></app-footer>
  </div>



