
  <div class="container-fluid screen-wrapper">
<app-header></app-header>
    <div class="row body-section">
      <div class="col-md-12">
        <div class="row form-wrapper-row py-5">
          <div class="offset-md-1 col-md-10">
            <div class="row sign-in-row">
              <div class="offset-md-2 col-md-8 sign-in-col">
                <div class="common-form" novalidate>
                  <div class="mb-5 page-primary-title-34">Property Details</div>
                  <div class="row">
                    <div class="col-md-12 form-block-heading mb-2">Rent Details</div>
                    <div class="col-md-6 form-label-group mb-4">
                      <select  [(ngModel)]="propertyRentalDetailDTO.isRented" class="form-control common-select">
                        <option>Property Rented</option>
                        <option>Yes</option>
                        <option>No</option>
                      </select>
                    </div>
                    <div class="col-md-6 form-label-group mb-4">
                      <select [(ngModel)]="propertyRentalDetailDTO.isVacant" class="form-control common-select">
                        <option>Vacant</option>
                        <option>Yes</option>
                        <option>No</option>
                      </select>
                    </div>
                    <div class="col-md-6 form-label-group mb-4">
                      <input type="text" class="form-control onlyText form-input" [(ngModel)]="propertyRentalDetailDTO.tenantName" placeholder="Tenant Name" required>
                    </div>
                    <div class="col-md-6 form-label-group mb-4">
                      <select [(ngModel)]="propertyRentalDetailDTO.paymentStructure" class="form-control common-select">
                        <option>Payment Structure</option>
                        <option>Yes</option>
                        <option>No</option>
                      </select>
                    </div>
                    <div class="col-md-6 form-label-group mb-4">
                      <input type="number" class="form-control onlyText form-input" [(ngModel)]="propertyRentalDetailDTO.rentalEjariNo" placeholder="Ejari Number" required>
                    </div>
                    <div class="col-md-6 form-label-group mb-4">
                      <input type="text" class="form-control onlyText form-input" [(ngModel)]="propertyRentalDetailDTO.rentalAnnualRent" placeholder="Annual Rent" required>
                    </div>
                    <div class="col-md-6 form-label-group mb-4">
                      <input type="text" class="form-control onlyText form-input" [(ngModel)]="propertyRentalDetailDTO.leaseStartDate" placeholder="Lease Start Date" required>
                    </div>
                    <div class="col-md-6 form-label-group mb-4">
                      <input type="text" class="form-control onlyText form-input" [(ngModel)]="propertyRentalDetailDTO.leaseExpiryDate" placeholder="Lease Expiry Date" required>
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-md-12 document-upload">
                      Upload Documents
                      <div class="sub-details">jpg, png, pdf accepted with file size not exceeding 2Mb</div>
                    </div>
                    <div class="col-md-12 upload-doc-block">
                      <div class="upload-btn-div mt-4">
                        <div class="file">
                          <input  (change)="scannedTenantContract($event)" type="file" name="file" class="doc-upload" />
                        </div>
                        <div class="upload-instuct mt-2">Scanned Tenancy Contract</div>
                      </div>
                    </div>
                  </div>
                  <div class="row mt-5 submit-btn-row">
                    <div class="offset-md-6 col-md-3 mb-xs-4">
                      <button class="btn common-btn btn-light-black">Back</button>
                    </div>
                    <div class="col-md-3">
                      <a  (click)="addPropertyRentalDetails()" style=color:white  class="btn common-btn btn-light-black"type="submit">Next</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
       
      </div>
    </div>
  <app-footer></app-footer> 
  </div>
  

