  <div class="container-fluid screen-wrapper">
<app-header></app-header>
    <div class="row body-section">
      <div class="col-md-12">
        <div class="row form-wrapper-row py-5">
          <div class="offset-md-1 col-md-10">
            <div class="row sign-in-row">
              <div class="offset-md-2 col-md-8 sign-in-col">
                <div class="common-form" novalidate>
                  <div class="mb-5 page-primary-title-34">POA Details</div>
                  <div class="row">
                    <div class="col-md-12 form-block-heading mb-2">Personal Details:</div>
                    <div class="col-md-6 form-label-group mb-4">
                      <input type="text"  [(ngModel)]="ownerDto.firstName" class="form-control onlyText form-input" placeholder="First Name" required>
                    </div>
                    <div class="col-md-6 form-label-group mb-4">
                      <input type="text" class="form-control onlyText form-input"[(ngModel)]="ownerDto.middleName" placeholder="Middle Name">
                    </div>
                    <div class="col-md-6 form-label-group mb-4">
                      <input type="text" class="form-control onlyText form-input" [(ngModel)]="ownerDto.lastName" placeholder="Last Name" required>
                    </div>
                    <div class="col-md-6 form-label-group mb-4">
                      <select [(ngModel)]="ownerDto.nationality" class="form-control common-select">
                        <option>Select Nationality</option>
                        <option>Pakistani</option>
                        <option>Indian</option>
                        <option>Australian</option>
                        <option>American</option>
                      </select>
                    </div>
                    <div class="col-md-6 form-label-group mb-4">
                      <input type="number" class="form-control onlyText form-input"  [(ngModel)]="ownerDto.idCardNo" placeholder="ID Card Number" required>
                    </div>
                    <div class="col-md-6 form-label-group mb-4">
                      <input type="text" class="form-control onlyText form-input"  [(ngModel)]="ownerDto.idCardExpiration" placeholder="ID Card Expiry Date" required>
                    </div>
                    <div class="col-md-6 form-label-group mb-4">
                      <input type="number" class="form-control onlyText form-input" [(ngModel)]="ownerDto.passportNo" placeholder="Passport Number" required>
                    </div>
                    <div class="col-md-6 form-label-group mb-4">
                      <input type="text" class="form-control onlyText form-input" [(ngModel)]="ownerDto.passportExpiryDate" placeholder="Passport Expiry Date" required>
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-md-12 form-block-heading mb-2">Contact Details:</div>
                    <div class="col-md-6 form-label-group mb-4">
                      <input type="number" class="form-control onlyText form-input" [(ngModel)]="ownerDto.telephone" placeholder="Phone Number" required>
                    </div>
                    <div class="col-md-6 form-label-group mb-4">
                      <input type="number" class="form-control onlyText form-input" [(ngModel)]="ownerDto.mobile" placeholder="Mobile Number" required>
                    </div>
                    <div class="col-md-6 form-label-group mb-4">
                      <input type="email" class="form-control onlyText form-input" [(ngModel)]="ownerDto.email" placeholder="Email" required>
                    </div>
                    <div class="col-md-6 form-label-group mb-4">
                      <input type="text" class="form-control onlyText form-input" [(ngModel)]="ownerDto.fax" placeholder="Fax" required>
                    </div>
                    <div class="col-md-6 form-label-group mb-4">
                      <input type="text" class="form-control onlyText form-input" [(ngModel)]="ownerDto.address" placeholder="Address" required>
                    </div>
                    <div class="col-md-6 form-label-group mb-4">
                      <input type="number" class="form-control onlyText form-input" [(ngModel)]="ownerDto.pobox" placeholder="P.O.Box" required>
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-md-12 form-block-heading mb-2">Power Of Attorney Details</div>
                    <div class="col-md-6 form-label-group mb-4">
                      <input type="number" class="form-control form-input" [(ngModel)]="ownerDto.poaNumber" placeholder="POA Number" required>
                    </div>
                    <div class="col-md-6 form-label-group mb-4">
                      <input type="text" class="form-control onlyText form-input" [(ngModel)]="ownerDto.poaAgreementExpiry" placeholder="POA Expiry Date" required>
                    </div>
                    <div class="col-md-6 form-label-group mb-4">
                      <input type="email" class="form-control onlyText form-input" placeholder="Email" required>
                    </div>
                    <div class="col-md-6 form-label-group mb-4">
                      <select   class="form-control common-select">
                        <option>Specific Property</option>
                        <option>Sell</option>
                        <option>Buy</option>
                      </select>
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-md-12 document-upload">
                      Upload Documents
                      <div class="sub-details">jpg, png, pdf accepted with file size not exceeding 2Mb</div>
                    </div>
                    <div class="col-md-12 upload-doc-block">
                      <div class="upload-btn-div mt-4">
                        <div class="file">
                          <input type="file"  (change)="selectPassport($event)" name="file" class="doc-upload" />
                        </div>
                        <div class="upload-instuct mt-2">Scanned passport copy</div>
                      </div>
                      <div class="upload-btn-div mt-5">
                        <div class="file">
                          <input type="file" name="file" (change)="selectIdCopy($event)" class="doc-upload" />
                        </div>
                        <div class="upload-instuct mt-2">
                          Scanned ID copy
                          <div class="upload-sub-instruct">(UAE or country of origin)</div>
                        </div>
                      </div>
                      <div class="upload-btn-div mt-4">
                        <div class="file">
                          <input type="file" name="file"  (change)="selectScannedPoa($event)" class="doc-upload" />
                        </div>
                        <div class="upload-instuct mt-2">Scanned NOTORIZED POA
                          <div class="upload-sub-instruct">(International POA should have the stamp of external affairs and UAE embassy)</div>
                        </div>
                      </div>
                      <div class="common-checkbox mt-5">                    
                        <label>
                          <input type="checkbox"><span class="checkbox-material"><span class="check mr-2"></span></span> General POA not accepted
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="row mt-5 submit-btn-row">
                    <div class="col-md-3 mb-xs-4">
                      <a  (click)="addPOA('add')" style=color:white class="btn common-btn btn-light-black">Add POA</a>
                    </div>
                    <div class="offset-md-3 col-md-3 mb-xs-4">
                      <button class="btn common-btn btn-light-black">Back</button>
                    </div>
                    <div class="col-md-3">
                      <a  (click)="addPOA('next')" style=color:white class="btn common-btn" type="submit">Next</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
    <app-footer></app-footer> 
  </div>
  
