
  <div class="container-fluid screen-wrapper">
    <app-header></app-header>
    <div class="row body-section">
      <div class="col-md-12">
        <div class="row tc-section pt-5">
          <div class="offset-md-1 col-md-10 tc-section-col">
            <div class="page-primary-title-34 d-flex justify-content-center">How It Works</div>
            <div class="conditions-block-wrap py-5 py-xs-4">
              <p>Entitlement to comission</p>
              <div class="points-wrap">
                <div class="conditions-point">
                  <span class="point-number mr-4">1.</span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
                </div>
                <div class="conditions-point">
                  <span class="point-number mr-4">2.</span>Ipsum dolor sit amet Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
                </div>
                <div class="conditions-point">
                  <span class="point-number mr-4">3.</span>Ipsum dolor sit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
                </div>
                <div class="conditions-point">
                  <span class="point-number mr-4">4.</span>Ipsum dolor sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
                </div>
                <div class="conditions-point">
                  <span class="point-number mr-4">5.</span>Ipsum dolor sit amet Lorem ipsum dolor sit amet, consectetur adipiscing elit, quis nostrud exercitation ullamco.
                </div>
                <div class="conditions-point">
                  <span class="point-number mr-4">6.</span>Ipsum dolor sit amet Lorem ipsum dolor sit et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
                </div>
                <div class="conditions-point">
                  <span class="point-number mr-4">7.</span>Ipsum dolor sit amet Lorem ipsum sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
                </div>
                <div class="conditions-point">
                  <span class="point-number mr-4">8.</span>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
                </div>
                <div class="conditions-point">
                  <span class="point-number mr-4">9.</span>sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
                </div>    
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
    <app-footer></app-footer> 
  </div>
