
  <div class="container-fluid screen-wrapper">
    <app-header></app-header>
    <div class="row body-section">
      <div class="col-md-12">
        <div class="row form-wrapper-row py-5">
          <div class="offset-md-1 col-md-10">
            <div class="row sign-in-row">
              <div class="offset-md-4 col-md-4 sign-in-col">
                <form class="common-form" novalidate>
                  <div class="text-center mb-5 page-primary-title-34">Forgot Password?</div>
                  <div class="fp-form-row">
                    <div class="input-wrapper form-label-group mb-4">
                      <input id="stuff" type="text" class="form-control form-input"  name="email" [(ngModel)]="forgotPasswordRequestDTO.userEmail" placeholder="Enter Your Email" required>
                      <label for="stuff" class="fa fa-user input-icon"></label>
                    </div>
                    <button  (click)="forgotPasswordRequest()"class="btn form-btn mb-4" type="submit">Submit</button>
                    <div class="form-instruct mt-2">See your email for password reset link</div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
         </div>
    </div>
    <app-footer></app-footer>
  </div>
