
  <div class="container-fluid bootstrap-iso screen-wrapper">
    <app-header></app-header>
    <div class="row body-section">
      <div class="col-md-12">
        <div class="row form-wrapper-row py-5">
          <div class="offset-md-1 col-md-10">
            <div class="row fees-auction-row">
              <div class="offset-md-2 col-md-8">
                <div class="page-primary-title-34 mb-3">Auction Fees Details</div>
                <div class="deposit-details">Choose Auction Duration</div>
                <div class="radio-btn-wrap my-4">
                  <p class="mr-4 radio-btn">
                    <input [(ngModel)]="auctionDTO.auctionDuration" value="7" type="radio" id="test1" name="radio-group" checked>
                    <label for="test1">7 Days<span class="cost">Cost</span></label>
                  </p>
                  <p class="mr-4 radio-btn">
                    <input  [(ngModel)]="auctionDTO.auctionDuration" value="14" type="radio" id="test2" name="radio-group">
                    <label for="test2">14 Days<span class="cost">Cost</span></label>
                  </p>
                  <p class="mr-4 radio-btn">
                    <input  [(ngModel)]="auctionDTO.auctionDuration" value="21" type="radio" id="test3" name="radio-group">
                    <label for="test3">21 Days<span class="cost">Cost</span></label>
                  </p>
                </div>
                <div class="row mb-5 align-items-center">
                  <div class="col-md-3 pr-0 mb-xs-3 deposit-details">Auction Start Date</div>
                  <div class="col-md-6 form-label-group">
                    <input type="date" [(ngModel)]="auctionDTO.auctionStartDate" class="form-control form-input">
                  </div>
                </div>
                <div class="deposit-details pb-2">
                  2.5% to be paid as security deposit.<br> Security deposit will be refunded once the auction has been completed.<br>
                  <a href="#" class="read-more-link">(Read more)</a>
                </div>
                <hr>
                <div class="common-checkbox terms-cond-wrap mt-4">
                  <label>
                    <input type="checkbox"><span class="checkbox-material"><span class="check mr-2"></span></span>
                  </label>
                  <span class="terms-cond-point">I agree with 1% + Vat commission to be paid out of final sold price,<br> as per Dubai Land Department.</span>
                  <a href="#" class="read-more-link ml-2">(Read more)</a>
                </div>
                <div class="col-md-4 p-0 mt-4">
                  <button  (click)="saveAuction()"  class="btn common-btn auction-submit-btn py-2" type="submit">Submit</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>

